<section class="screen_home">
  
    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile><app-post-box></app-post-box></mat-grid-tile>
        <mat-grid-tile><app-post-box></app-post-box></mat-grid-tile>
        <mat-grid-tile><app-post-box></app-post-box></mat-grid-tile>
        <mat-grid-tile><app-post-box></app-post-box></mat-grid-tile>
      </mat-grid-list>
    <!-- <div class="list_post">
      <div class="list_post__post"></div>
      <div class="list_post__post"><app-post-box></app-post-box></div>
      <div class="list_post__post"><app-post-box></app-post-box></div>
      <div class="list_post__post"><app-post-box></app-post-box></div>
    </div> -->
  </section>
  