<main class="login-main">
  <section class="login-section">
    <form class="login-form">
      <img class="login-logo" src="/assets/logo_postit.webp" alt="Logo" />
      <p class="login-description">
        PostIt Up é um mural de mensagens interativo, criado para demonstrar
        habilidades em desenvolvimento fullstack e exemplificar um deploy
        gratuito. Basta informar seu nome e função para participar, sem
        necessidade de criar uma conta.
      </p>

      <div class="input-group">
        <label for="name" class="input-label">Nome</label>
        <input
          type="name"
          id="name"
          name="name"
          class="input-field"
          placeholder="Insira seu nome"
          required
        />
      </div>

      <div class="input-group">
        <label for="role" class="input-label">Função</label>
        <input
          type="role"
          id="role"
          name="role"
          class="input-field"
          placeholder="Ex: Desenvolvedor Frontend"
          required
        />
      </div>

      <button (click)="login()" type="button" class="submit-button">
        Entrar
      </button>
    </form>

    <p class="social-media-text">Acesse minhas redes sociais</p>

    <div class="social-media-links">
      <img
        class="social-icon"
        src="/assets/icons/rs/linkedin.svg"
        alt="Ícone do Linkedin"
        srcset="Ícone do Linkedin"
      />
      <img
        class="social-icon"
        src="/assets/icons/rs/github.svg"
        alt="Ícone do Github"
        srcset="Ícone do Github"
      />
      <img
        class="social-icon"
        src="/assets/icons/rs/web.svg"
        alt="Ícone do meu portfólio"
        srcset="Ícone do meu portfólio"
      />
    </div>
  </section>
</main>
