<main class="container-messages">
  <img
  class="postit-logo"
  src="/assets/logo_postit.webp"
  alt="Logo do Postit"
/>
  <div class="list_post">
    <div class="list_post__post"><app-post-box></app-post-box></div>
    <div class="list_post__post"><app-post-box></app-post-box></div>
    <div class="list_post__post"><app-post-box></app-post-box></div>
    <div class="list_post__post"><app-post-box></app-post-box></div>
    <div class="list_post__post"><app-post-box></app-post-box></div>
    <div class="list_post__post"><app-post-box></app-post-box></div>
    <div class="list_post__post"><app-post-box></app-post-box></div>
    <div class="list_post__post"><app-post-box></app-post-box></div>
  </div>
  <div class="container-send-message">
    <textarea
      maxlength="150"
      minlength="1"
      maxrows="5"
      type="text"
      placeholder="Insira sua mensagem"
      class="message_input"
    ></textarea>
    <button class="message_button">
      <img
        class="send-logo"
        src="/assets/logo_postit.webp"
        alt="Logo do Postit"
      />
    </button>
  </div>
</main>
